@mixin flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin btn {
    padding: .6em .9em;
    border-radius: .9em;
    color:#fff;
    transition: all 500ms ease-in-out;
    border-bottom: none;
    &:hover{
        transform: scale(1.2);
    }
    
}
@mixin section-padding{
    padding: 3em 1.5em;
}
